// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.comments{
	margin-top: 20px;
}
.comment {
	.name {
		margin-bottom: 5px;
		padding-bottom: 5px;
		border-bottom: 1px solid #ddd;

		h5{ display: inline; font-weight: 500; color: #337ab7; }

		.date{
			font-size: 0.7em;
			color: #148F14;
		}
	}
	margin-bottom: 20px;
}

.all_posts .comment {
	.date, .separator{ display: none; }
}