// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.posts-nav{
	margin-bottom: 10px;
}

.post{
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 2px solid #ddd;

	&:last-child{
		border-bottom: 0;
	}

	.header{
		border-bottom: 1px solid #ddd;
		padding-bottom: 10px;
		margin-bottom: 10px;
		& > * {
			padding: 0;
		}
	}
}